<nav>
  <ul>
    <li><a routerLink="dashboard">dashboard</a></li>
    <li><a routerLink="card">card</a></li>
    <li><a routerLink="navigation">navigation</a></li>
    <li><a routerLink="loader">loader</a></li>
    <li><a routerLink="table">table</a></li>
    <li><a routerLink="test">TEST</a></li>

    <!-- Admin menu -->
    <li>
      Admin
      <ul>
        <li><a routerLink="/admin/users">Users</a></li>
        <li><a routerLink="/admin/roles">Roles</a></li>

      </ul>
    </li>
  </ul>
</nav>