<!-- Header component -->

<mat-toolbar class="header-component" color="primary" role="heading" aria-label="Header">
  <!-- Add a spacer to the toolbar. -->

  <div >
    <app-header-logo></app-header-logo>
  </div>

  <div>
    <app-header-search></app-header-search>
  </div>

  <app-header-nav></app-header-nav>



  <!-- Add a spacer to the toolbar. -->
  <div>
    <app-header-search></app-header-search>

  </div>

  ->

  <button mat-icon-button class="menu" aria-label="menu" matTooltip="Menu">
    <!-- Add an icon to the button. -->
    <!-- Add a tooltip to the button. -->
    <!-- Add an icon to the button. -->
    <mat-icon>menu</mat-icon>
  </button>
  <span>HEADER COMPONENT</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>