<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
    [mode]="isHandset() ? 'over' : 'side'"
    [opened]="isSidenavOpen()"
  >
    <app-sidebar-header></app-sidebar-header>
    <app-sidebar-nav></app-sidebar-nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset()) {
        <button mat-icon-button (click)="toggleSidenav()">
          <mat-icon>menu</mat-icon>
        </button>
      }
      <span>My Application</span>
      <span class="spacer"></span>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>