.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    >logo{
        width: 100px;
        height: 100px;
    }
    >img {
        width: 100px;
        height: 100px;
    }
    >img:hover {
        cursor: pointer;
    }
    >img:active {
        cursor: pointer;
    }
    >img:focus {
        cursor: pointer;
    }
    >img:visited {
        cursor: pointer;
    }
}



