working...
<form class="-space-y-4 p-4" (ngSubmit)="addPrice()">
  <mat-form-field class="w-full">
    <mat-label>Precio</mat-label>
    <input matInput placeholder="Ingrese el precio" formControlName="price" required type="number">
  </mat-form-field>

    <!-- Valor -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Valor</mat-label>
      <input matInput type="number" [(ngModel)]="priceForm().value" name="value" min="0.01">
    </mat-form-field>

    <!-- Moneda -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Moneda</mat-label>
      <mat-select formControlName="currency">
        <mat-option value="USD">USD</mat-option>
        <mat-option value="MXN">MXN</mat-option>
      </mat-select>
    </mat-form-field>
 
  <!-- Estado -->
  <div class="text-sm text-red-500" *ngIf="status() === 'error'">
    {{ errorMsg() }}
  </div>
  <div class="text-sm text-green-500" *ngIf="status() === 'success'">
    Guardado correctamente.
  </div>

  <!-- Botón -->
  <button mat-raised-button color="primary" class="w-full" [disabled]="!formValid() || status() === 'loading'">
    {{ status() === 'loading' ? 'Guardando...' : 'Guardar' }}
  </button>


</form>
UL
<ul>
  @for(price of prices(); track price.id) {
  <li class="py-1 border-b">{{ price.provider }} - {{ price.currency }} {{ price.value | number:'1.2-2' }} ({{
    price.date | date:'shortDate' }})</li>
  }
</ul>