/* footer.component.css */
footer {
    display: flex; /* Utiliza flexbox para alinear los elementos horizontalmente */
  }
  
  /* Estilo para los enlaces */
  mat-nav-list {
    display: flex; /* Utiliza flexbox para alinear los elementos horizontalmente */
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0; /* Quita el relleno */
  }
  
  /* Estilo para cada enlace */
  mat-list-item {
    margin-right: 20px; /* Añade un margen a la derecha para separar los enlaces */
  }
  
  /* Estilo para el texto del enlace */
  a {
    text-decoration: none; /* Quita la decoración de subrayado */
    color: inherit; /* Utiliza el color heredado */
  }
  
  /* Estilo para el contenido del footer */
  mat-card-content {
    padding: 10px; /* Añade relleno al contenido del footer */
  }
  
  /* Estilo para el contenedor del footer */
  mat-card {
    width: 100%; /* Haz que el footer ocupe todo el ancho disponible */
  }