<mat-card class="footer bg-gray-100 shadow-md">
  <mat-card-content>
    <div class="footer-container flex flex-col md:flex-row justify-between items-center py-4 px-6">
      
      <!-- Sección de contacto -->
      <div class="footer-contact mb-4 md:mb-0">
        <p class="text-gray-600">{{ footerContent$().contactInfo }}</p>
      </div>

      <!-- Sección de enlaces -->
      <div class="footer-links flex flex-wrap justify-center md:justify-start mb-4 md:mb-0">
        @for (item of footerContent$().links; track item.url) {
        <mat-list-item class="footer-link hover:bg-gray-200 rounded-md mx-2 mb-2">
          <mat-icon class="mr-2">home</mat-icon>
          <a mat-line [routerLink]="item.url">{{ item.title }}</a>
        </mat-list-item>
        }
      </div>

      <!-- Sección del copyright -->
      <div class="footer-copyright text-center md:text-right">
        <mat-divider class="my-4"></mat-divider>
        <p class="mat-caption text-gray-600">
          {{ footerContent$().copyright }}
        </p>
      </div>
      
    </div>
  </mat-card-content>
</mat-card>
