mat-nav-list {
    background-color: rgb(202, 153, 247);
    > span {
        text-decoration: none;
        font-size: 14px;
    }
}
.menu-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

mat-form-field {
  width: 100%;
}